<div class="wrapper">
  <div class="smaller">
    <img src="../../../assets/hai.gif" alt="">
    <img src="../../../assets/default_hardlopen.jpg">
    <audio controls>
      <source src="../../../assets/untitled.mp3" type="audio/mpeg">
    </audio>

    <h1>Hard lopen</h1>
    <h2>Die webwerf en ons vennote gebruik webkoekies om besoekers te tel en webwerf-aktiwiteit na te spoor. Dit sluit in skakeling na geselekteerde produkte en advertensies en/of verwante advertensies op sosiale media.</h2>
    <iframe src="https://giphy.com/embed/3o7TKVUn7iM8FMEU24" width="480" height="374" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>

</div>
