<p class="wow">about-us-page works!</p>
<app-about-us-header></app-about-us-header>

<app-about-us-hero></app-about-us-hero>

<img src="https://cdna.artstation.com/p/assets/images/images/010/303/064/large/tom-veg-2.jpg?1523705021&dl=1" alt="">

<app-about-us-verhaal></app-about-us-verhaal>

<video controls>
  <source src="../../../assets/cars.mp4" type="video/mp4">
</video>

<iframe width="420" height="315"
        src="https://www.youtube.com/embed/jpIJMKjxkQ0">
</iframe>
<iframe width="420" height="315"
        src="https://www.youtube.com/embed/Frazx5zxScE">
</iframe>

<div class="a">
  <audio autoplay controls>
    <source src="../../../assets/dromen.mp3" type="audio/mpeg">
  </audio>
</div>

