<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Welkom schatjes</h1>
    <p class="lead font-weight-normal">Kusjes niet verplicht maar wel aangemoedigd</p>
    <a class="btn btn-outline-secondary" href="#">Weekblad (Coming soon)</a>
  </div>
  <div>
    <app-home-page-backround></app-home-page-backround>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
<div class="d-flex justify-content-center">
  <h2 class="h2">Naïm Verboom</h2>
</div>
<div class="d-flex justify-content-center">
  <p>De oprichter en tevens de voorzitter van de elite sportgroep: "De Schatjes"</p>
</div>
<div class="d-flex justify-content-center">
  <img class="rotate" src="../../../../assets/img/naimKogelStoten.png" alt="">
</div>
