<div class="wrapper">
  <p class="title">Ons verhaal, door Anna Maria Geertruida (Annie) Schmidt[1] (Kapelle, 20 mei 1911 – Amsterdam, 21 mei 1995)</p>
  <p>Al sinds kinds af aan lopen wij drieën over wegen en paden om plezier te maken. Vroeger was ons doel natuurlijk om mee te doen met de Miss America competitie, die elk jaar in Wisconsin werd gehouden. Dit is het tragische verhaal van de ondergang van deze verkiezing.\n
    Het doel van de Miss America competitie was om een zo maagdelijk schone jongedame te vinden om hier vervolgens wat geld aan te geven.
    Het jaar voor 2002, 2001, had ook een jaarlijkse schoonheidsmissverkiezing, genaamd Miss America.
    In het jaar 2001 ging er veel mis tijdens de schoonheidsmissverkiezing Miss America.
    Misschien kwam het wel door het koude weer, waar geen van de deelnemers last van had.
    Bovendien was het podium voorzien van een verwarmende lamp, die ervoor zorgde dat de schoonheidsmissverkiezingsdeelnemers altijd goed warm en glimmend bleven.
    Ontzien was het voor Damien wel te noemen, die een uur voor het optreden Benzien had gedronken en als een sardien zijn billen dicht moest knijpen.
    Fien was ook goed gemutst, want die was met Katrien, niet te verwarren met de eend van Donald Duck.
  </p>

  <p>
    Katrien Duck was, en zal altijd mijn highschool Sweethearts zijn.
    Katrien en ik deden alles samen.
    Onze eerste friemelsessie was onder het dekentje in de woonkamer, waar haar ouders bijzaten.
    Katrien Duck was in vele aspecten het ideale vriendinnetje.
    Ze had een heerlijk verendekentje, zo zacht als zijde, zo wit als net gepolijst beenmarmer.
    Samen zouden we alles doen, hadden wij elkaar al snel belooft.
    Op een dag liepen wij door de Efteling.
    We hadden net lopen zoenen in de droomvlucht, toen we hand in hand naar de Monsieur Kannibaal liepen.
    We waren al maanden samen en kende elkaars lichamen van teen tot teen.
    Ze had mij diep in mijn ogen aangekeken toen we voor het eerst een appeltje aan het schillen waren.
    We waren verliefd, en iedereen moest het weten.
    “Luister Katrien, ik weet niet hoe lang ik nog heb op deze aarde. Je moet mij beloven dat je verder zal gaan, en altijd voor mijn huisdieren gaat zorgen.”
    Ik had geen huisdieren, maar wel een dementerende oma die op het logeerbed in de woonkamer lag.
    Voor de grap had ik ’s nachts haar beademing uitgezet.
    Mama was boos om mij geworden, de ambulancemeneer kon er wel om lachen.
    Oma kwam uit de sovjetoorlog, en had hier gewerkt in de fabriek waar ze knalletjes maakte.
    Ze was dus niet gesneuveld, maar zal voor de komende tijd proberen mijn thee te vergiftigen.
    “Waarom heb je niet meer zo lang? “, vroeg Katrien aan mij.
    Ik kon hier niet goed antwoord op geven, en staarde naar de verte, waar de Joris en de Draak net van de lift afviel en naar beneden donderde.
    “Ik zal er snel niet meer zijn. Ze zoeken mij, de Nationale Opsporingsdienst.”
    Ik gaf haar mijn beker cola, en draaide mij om, om haar nooit meer terug te zien.
  </p>

  <p>
    De missverkiezing liep ten einde, en er was nog steeds niets misgegaan.
    Waarom was er dan een einde gekomen aan deze wrede traditie?
    Op dit moment kwam Marco Borsato aangelopen in de verte.
  </p>

  <p class="title">
    Hoofdstuk 3, de biefstuk en de haas.
  </p>

  <p>
    Ik zit vast, alles voelt sloom.
    Het zoute water vult mijn rokerslongen.
    De robot was onvoorzichtig geweest, een haastige klus.
    Ik kon mijzelf lostrekken en zwom naar boven, in de hoop dat de door AI-bestuurde animatron ondertussen vertrokken was.
    Ik trok de microchip uit mijn achterhoofd, die was nu toch niet meer nodig.
    Het was ondertussen dagen geleden dat ik ontslagen was van Belantiago Inc.
    Van dit punt voorwaarts zal ik alles doen om Robert Belantiago te stoppen.
    Ik liep de straat op, het slechte asfalt krakend onder mijn blote voeten, waar schilfers op zaten.
    Ik was gedesoriënteerd, wist niet waar ik mij bevond.
    Ik liep naar de lampjes toe, de lampjes.
    De lampjes, die mij zo wisten te gidsen.
    Ik voel op de grond, tranen stroomde over mijn wangen. De vloer werd natter.
  </p>

  <img src="../../../assets/wow.jpg" alt="">
</div>
